**/.git
**/.gitignore
**/.vscode
**/.idea
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/node_modules
**/npm-debug.log
**/yarn-error.log
**/.env
**/.env.local
**/venv
**/env
**/.pytest_cache
**/.coverage
**/htmlcov
**/.DS_Store
**/Thumbs.db
backend/logs/*
backend/uploads/*
!backend/uploads/.gitkeep
!backend/logs/.gitkeep
web/build
web/.eslintcache
mobile/.expo
mobile/dist
**/*.md
!README.md
LICENSE
.git
.github
